// base colors
$white:                   #FFFFFF !default;
$white-smoke:             #f6f6f6 !default;
$pink-peace:              #ff6477 !default;
$pink-peace-hover:        #ff475e !default;
$success:                 #4bca68 !default;

// border radius sizes
$border-radius:          6px !default;
$border-radius-lg:       8px !default;
$border-radius-sm:       4px !default;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');